<h1>The JSON Games</h2>

<p>
JSON Games features a series of programming problems which have two things in common. They are all implemented as web services and they all lend themselves to the brute force approach.
</p>